# Plotting in Bokeh

Over the last few weeks, we've spend a lot of time analyzing our text data and meticulously pulling out important information. Even though our spreadsheets and notebook tables are useful, our data can best be showcased using cool visualizations. The Bokeh library in Python allows us to create powerful visualizations of our data quite easily.

# Bokeh vs. Gephi


As it turns out, not everyone's data can be visualizated in its fullest potential in a network! In certain data sets where the classic network-style connections do not exist, it is better to visualize points using other means. Bokeh gives us the ability to do so. Feel free to discuss with Adam if you are unsure which program is best suited for your data set!

In [104]:
!pip install bokeh

Requirement already satisfied: bokeh in d:\anaconda\lib\site-packages

In [105]:
import numpy as np
import pandas as pd
from datascience import *
from IPython.core.display import display, HTML
import codecs

from bokeh.plotting import figure, show, output_file
from bokeh.palettes import brewer
from bokeh.charts import Scatter, output_file, show
from bokeh.charts import Bar, output_file, show

### Uploading CSV's

![](google_sheets_coffee.png)

In [106]:
# We are reading the CSV that contains Clayton's data and selecting a range of points
coffee = Table().read_table('CTCPcc.csv')
coffee = coffee.take(range(6, 111))
coffee

Coffee, tea, and cocoa: Per capita availability | Unnamed: 1 | Unnamed: 2 | Unnamed: 3 | Unnamed: 4 | Unnamed: 5 | Unnamed: 6 | Unnamed: 7 | Unnamed: 8 | Filename: CTCSP  | Unnamed: 10
1910                                            | 92.407     | nan        | nan        | 9.2        | 7.7        | 9.2        | 7.7        | 1.0        | 1.2              | 0.9
1911                                            | 93.863     | nan        | nan        | 8.4        | 7.0        | 8.4        | 7.0        | 1.1        | 1.4              | 1.0
1912                                            | 95.335     | nan        | nan        | 10.8       | 9.1        | 10.8       | 9.1        | 1.0        | 1.6              | 1.2
1913                                            | 97.225     | nan        | nan        | 9.0        | 7.5        | 9.0        | 7.5        | 0.9        | 1.6              | 1.2
1914                                            | 99.111     | nan        | nan        | 9.2        | 7.7        | 9.2        | 7.7        | 0.9        | 1.7              | 1.2
1915                                            | 100.546    | nan        | nan        | 10.6       | 8.9        | 10.6       | 8.9        | 1.0        | 1.9              | 1.4
1916                                            | 101.961    | nan        | nan        | 11.5       | 9.6        | 11.5       | 9.6        | 1.0        | 2.3              | 1.7
1917                                            | 103.414    | nan        | nan        | 12.1       | 10.2       | 12.1       | 10.2       | 1.2        | 3.6              | 2.7
1918                                            | 104.550    | nan        | nan        | 10.1       | 8.4        | 10.1       | 8.4        | 1.2        | 3.3              | 2.4
1919                                            | 105.063    | nan        | nan        | 11.8       | 9.9        | 11.8       | 9.9        | 0.6        | 3.5              | 2.6
... (95 rows omitted)

In [107]:
# In this cell, we are using the "relabeled" function to rename the columns into names that are more friendly/relevant
original_names = coffee.labels
new_names = ['Year', 'Population (millions)', 'Instant (GBE)', 'Instant (Retail)', 'Regular (GBE)', 'Regular (Retail)', 'Total (GBE)', 'Total (Retail)', 'Tea (DLE)', 'Cocoa (BE)', 'Cocoa (CLE)']
coffee = coffee.relabeled(original_names, new_names)
c2 = coffee.to_df()
coffee

Year | Population (millions) | Instant (GBE) | Instant (Retail) | Regular (GBE) | Regular (Retail) | Total (GBE) | Total (Retail) | Tea (DLE) | Cocoa (BE) | Cocoa (CLE)
1910 | 92.407                | nan           | nan              | 9.2           | 7.7              | 9.2         | 7.7            | 1.0       | 1.2        | 0.9
1911 | 93.863                | nan           | nan              | 8.4           | 7.0              | 8.4         | 7.0            | 1.1       | 1.4        | 1.0
1912 | 95.335                | nan           | nan              | 10.8          | 9.1              | 10.8        | 9.1            | 1.0       | 1.6        | 1.2
1913 | 97.225                | nan           | nan              | 9.0           | 7.5              | 9.0         | 7.5            | 0.9       | 1.6        | 1.2
1914 | 99.111                | nan           | nan              | 9.2           | 7.7              | 9.2         | 7.7            | 0.9       | 1.7        | 1.2
1915 | 100.546               | nan           | nan              | 10.6          | 8.9              | 10.6        | 8.9            | 1.0       | 1.9        | 1.4
1916 | 101.961               | nan           | nan              | 11.5          | 9.6              | 11.5        | 9.6            | 1.0       | 2.3        | 1.7
1917 | 103.414               | nan           | nan              | 12.1          | 10.2             | 12.1        | 10.2           | 1.2       | 3.6        | 2.7
1918 | 104.550               | nan           | nan              | 10.1          | 8.4              | 10.1        | 8.4            | 1.2       | 3.3        | 2.4
1919 | 105.063               | nan           | nan              | 11.8          | 9.9              | 11.8        | 9.9            | 0.6       | 3.5        | 2.6
... (95 rows omitted)

### Time Series

In this section, we will be plotting a line graph of the population vs. time. Documentation on specific Bokeh functions is available on the site: http://bokeh.pydata.org/en/latest/docs/user_guide.html#userguide

Try to parse through the code and see what variables you can change around to modify the input data/labels.

In [108]:

def datetime(x):
    return np.array(x, dtype=np.datetime64)

a = figure(x_axis_type="datetime", title="Population vs Year")
a.grid.grid_line_alpha=0.3
a.xaxis.axis_label = 'Year'
a.yaxis.axis_label = 'Population'

a.line(datetime(c2['Year']), c2['Population (millions)'], color='#A6CEE3', legend='Population')
a.legend.location = "top_left"

show(a)

### Time Series of Population Growth Rates

In [109]:
#In this cell, we are creating a table that helps us calculate the percent change from year to year
c3 = c2.copy()
c3 = c3[['Year', 'Population (millions)']]
c3 = c3.set_index('Year')
c3['Population (millions)'] = c3['Population (millions)'].apply(pd.to_numeric)
c3['Population (millions)'] = c3.pct_change(1)['Population (millions)']
c3

      Population (millions)
Year
1910                    NaN
1911               0.015756
1912               0.015682
1913               0.019825
1914               0.019398
1915               0.014479
1916               0.014073
1917               0.014251
1918               0.010985
1919               0.004907
1920               0.013306
1921               0.019509
1922               0.013921
1923               0.017247
1924               0.019313
1925               0.015073
1926               0.013537
1927               0.013953
1928               0.012383
1929               0.010439
1930               0.011670
1931               0.007801
1932               0.006444
1933               0.005930
1934               0.006325
1935               0.006934
1936               0.006430
1937               0.006085
1938               0.007816
1939               0.008148
...                     ...
1985               0.008961
1986               0.009163
1987               0.008947
1988               0.009131
1989               0.009473
1990               0.011280
1991               0.013437
1992               0.013417
1993               0.013083
1994               0.012223
1995               0.011847
1996               0.011667
1997               0.012033
1998               0.011736
1999               0.011517
2000               0.011064
2001               0.010355
2002               0.009800
2003               0.009424
2004               0.009088
2005               0.009279
2006               0.009487
2007               0.010060
2008               0.009252
2009               0.008665
2010               0.007572
2011               0.007657
2012               0.007401
2013               0.007473
2014               0.007367

[105 rows x 1 columns]

In [110]:
# plotting the growth rate
pop_growth_plot = figure(x_axis_type="datetime", title="Population vs Year")
pop_growth_plot.grid.grid_line_alpha=0.3
pop_growth_plot.xaxis.axis_label = 'Year'
pop_growth_plot.yaxis.axis_label = 'Population (percent change)'

pop_growth_plot.line(datetime(c2['Year']), c3['Population (millions)'], color='#A6CEE3', legend='Population')
pop_growth_plot.legend.location = "top_left"

show(pop_growth_plot)

### Time Series of Multiple 5 Year Growth Rates

For this visualization, instead of just having one line, we are going to plot multiple lines and compare them. We will be using very similar methods to before to obtain the table. This time however, we will plot the growth rate percents all together so we can compare them visually.

In [111]:
# Calculating 5 year growth rates
c4 = c2.copy()
c4 = c4[['Population (millions)', 'Instant (GBE)', 'Regular (GBE)', 'Total (GBE)', 'Cocoa (CLE)']]
c4['Instant (GBE)'] = [0 if x == 'nan'  else x for x in c4['Instant (GBE)']]
c4 = c4.apply(pd.to_numeric).pct_change(5)
c4

,Population (millions),Instant (GBE),Regular (GBE),Total (GBE),Cocoa (CLE)
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,0.088078,NaN,0.152174,0.152174,0.555556
6,0.086275,NaN,0.369048,0.369048,0.700000
7,0.084743,NaN,0.120370,0.120370,1.250000
8,0.075341,NaN,0.122222,0.122222,1.000000
9,0.060054,NaN,0.282609,0.282609,1.166667
10,0.058829,NaN,0.103774,0.103774,0.500000
11,0.064505,NaN,0.043478,0.043478,0.176471
12,0.064160,NaN,-0.024793,-0.024793,-0.185185
13,0.070751,NaN,0.247525,0.247525,0.041667
14,0.086101,NaN,0.033898,0.033898,-0.076923
15,0.087995,NaN,-0.094017,-0.094017,0.190476
16,0.081621,NaN,0.033333,0.033333,0.450000
17,0.081655,NaN,0.033898,0.033898,0.227273
18,0.076483,NaN,-0.055556,-0.055556,-0.080000
19,0.067111,NaN,0.000000,0.000000,0.333333
20,0.063533,NaN,0.179245,0.179245,-0.040000
21,0.057514,NaN,0.048387,0.048387,-0.068966
22,0.049683,NaN,0.016393,0.016393,-0.037037
23,0.042993,NaN,0.075630,0.075630,0.217391
24,0.038746,NaN,0.008197,0.008197,-0.125000
25,0.033883,NaN,0.072000,0.072000,0.583333
26,0.032477,NaN,0.053846,0.053846,0.481481
27,0.032109,NaN,0.072581,0.072581,0.192308
28,0.034044,NaN,0.164062,0.164062,0.000000
29,0.035917,NaN,0.211382,0.211382,0.321429
...,...,...,...,...,...
75,0.047162,0.045455,0.012346,0.019417,0.370370
76,0.046463,0.095238,0.037975,0.050000,0.310345
77,0.045722,0.000000,0.038961,0.030303,0.266667
78,0.045726,-0.045455,-0.012821,-0.029703,0.187500
79,0.046516,-0.086957,0.000000,-0.009804,0.176471
80,0.048921,-0.086957,0.000000,-0.019048,0.162162
81,0.053364,-0.086957,0.000000,-0.019048,0.210526
82,0.058030,-0.136364,0.000000,-0.019608,0.184211
83,0.062174,-0.190476,-0.051948,-0.081633,0.131579
84,0.065068,-0.285714,-0.175000,-0.198020,-0.050000
85,0.065665,-0.333333,-0.207317,-0.233010,-0.162791
86,0.063805,-0.285714,-0.121951,-0.155340,-0.086957
87,0.062353,-0.210526,-0.050000,-0.090000,-0.111111
88,0.060940,-0.058824,0.054795,0.033333,0.000000
89,0.060201,0.133333,0.227273,0.209877,0.184211
90,0.059379,0.285714,0.307692,0.303797,0.305556
91,0.058005,0.066667,0.083333,0.091954,0.071429
92,0.055670,0.066667,0.013158,0.010989,-0.025000
93,0.053257,0.000000,0.025974,0.021505,-0.023256
94,0.050728,-0.058824,-0.012346,-0.020408,0.066667
95,0.048873,-0.111111,-0.082353,-0.077670,0.106383
96,0.047973,0.000000,0.012821,0.000000,0.133333
97,0.048243,0.000000,0.025974,0.043478,0.230769
98,0.048064,0.000000,-0.012658,0.000000,0.071429
99,0.047624,0.000000,-0.050000,-0.052083,-0.083333
100,0.045853,0.000000,-0.025641,-0.031579,-0.153846
101,0.043957,0.000000,0.012658,0.010526,-0.137255
102,0.041208,0.062500,0.012658,0.010417,-0.125000
103,0.039374,0.062500,0.051282,0.042105,-0.066667
104,0.038037,0.062500,0.092105,0.098901,-0.068182

In [112]:
# Plotting the 5 Year Growth rates in one graph from the table above
pop_growth_plot = figure(x_axis_type="datetime", title="Growth Rates over Time")
pop_growth_plot.grid.grid_line_alpha=0.3
pop_growth_plot.xaxis.axis_label = 'Year'
pop_growth_plot.yaxis.axis_label = 'Percent Change (in decimal)'

pop_growth_plot.line(datetime(c2['Year']), c4['Population (millions)'], color='#A6CEE3', legend='Population')
pop_growth_plot.line(datetime(c2['Year']), c4['Instant (GBE)'], color='#B2DF8A', legend='Instant')
pop_growth_plot.line(datetime(c2['Year']), c4['Regular (GBE)'], color='#33A02C', legend='Regular')
pop_growth_plot.line(datetime(c2['Year']), c4['Total (GBE)'], color='#FB9A99', legend='Total Coffee')
pop_growth_plot.legend.location = "top_left"

show(pop_growth_plot)

# Other Types of Visualizations

### Scatter

In [113]:
#This will draw a scatter plot of the Population and Cocoa (CLE) colums from c4
#The first argument is the table from which you are pulling, and the x and y allow you to specify which columsn you want
p = Scatter(c4, x='Population (millions)', y='Cocoa (CLE)',
            title="Scatter - Cocoa (CLE) vs Population (millions)", legend="top_left",
            xlabel="Population (millions)", ylabel="Cocoa (CLE)")
show(p)

Scatter plots in Bokeh give you many possible features and options to play around with; check out all the options at http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html#scatter-plots

### Bar

In [114]:
c5 = c2.copy()
c5 = c5[['Cocoa (CLE)']]
c5 = c5.apply(pd.to_numeric)
p = Bar(c5, 'Cocoa (CLE)', values='Cocoa (CLE)', title="Bar - Cocoa", legend="")
show(p)

Bar plots in Bokeh give you many possible features and options to play around with; check out all the options at 
http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html#bar-charts

Bokeh also has similarly easy in-built functions for box plots and histograms!

# Final Thoughts

We have now looked at several ways to create visualizations of your data, both in Gephi and in Bokeh. Test out visualizations on your data sets, play around with the parameters and experiment until you find one that really makes your data pop! Bokeh itself has many, many more possibilities; browse the site's gallery, located at http://bokeh.pydata.org/en/latest/docs/gallery.html, in order to see all the possible options. We can help you implement functions shown in the gallery. If you feel like none of these visualizations work for you, then talk with us and we can try and help you find something that fits!